button {
    flex-grow: 1;
}

.calculator {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 150px;
}

.display {
    text-align: right;
}

.inputs {
    display: flex;
}

.digits {
    display: flex;
    flex: auto;
    flex-direction: column;
    flex-grow: 0.75;
    flex-wrap: wrap;
}

.row {
    display: flex;
}

.operators {
    display: flex;
    flex-direction: column;
    flex-grow: 0.25;
}